body, h1, h2, p, ul, li, a {
    margin: 0 auto;
    padding: 0px;
}

body {
    font-family: 'Sen', sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

.title {
    margin: 0 10px;
    padding: 15px 0;
}

.traj {
    margin: 0 10px;
}

.texto {
    margin: 0 10px;
    padding: 15px 0;
}

.img {
    margin: 10px 10px;
}

.nomePrato {
    text-align: center;
    margin: 10px auto;
}

.texto-footer {
    margin: 0 10px;
    padding: 15px 0;
    text-align: center;
}